<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>
        Destinations
    </title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
</head>

<body>
    <%- include('../partials/header') %>

        <ul>
            <% destinations.forEach(function(d) { %>
                <li>
                    <a href="/destinations/<%= d._id %>">
                        <%= d.name %>
                    </a>
                </li>
                <form action="/destinations/<%= d._id %>?_method=DELETE" class="delete-form" method="POST">
                    <button type="submit">X</button>
                </form>
                <a href="/destinations/<%= d._id %>/edit">Edit</a>
                <% }); %>
        </ul>

        <%- include('../partials/footer') %>
</body>

</html>