<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>
        Destinations
    </title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
</head>

<body>
    <%- include('../partials/header') %>

        <ul>

            <% destinations.forEach(function(d, idx) { %>
                <li>
                    <!-- <form action="/destinations/<%= idx %>?_method=DELETE"></form> -->
                    <a href="/destinations/<%= idx %>">
                        <%= d.name %>
                    </a>
                </li>
                <form action="/destinations/<%= d.id %>?_method=DELETE" class="delete-form" method="POST">
                    <button type="submit">X</button>
                </form>

                <% }); %>

        </ul>
        <%- include('../partials/footer') %>
</body>

</html>