<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>
        destination detail
    </title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
</head>

<%- include('../partials/header') %>


    <body>
        <h1>Destination Detail</h1>
        <h2>
            <%= destination.name %>
        </h2>
        <h3>
            <%= destination.city %>, <%= destination.country %>
        </h3>
        <p>
            <%= destination.description %>
        </p>
        <img src="<%= destination.image %>" alt="<%= destination.name %>">
        <a href="/destinations">Back</a>
        <a href="/destinations/<%= destination._id %>/edit">Edit</a>


        <form action="/destinations/<%= destination._id %>?_method=DELETE" method="POST">
            <button type="submit">delete</button>
        </form>












    </body>
    <%- include('../partials/footer') %>

</html>