<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>
        destination detail
    </title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
</head>

<%- include('../partials/header') %>


    <body>
        <h1 class="destination-title">About</h1>
        <section class="details">

            <!-- <div>Name: </div> -->
            <div class="detail-place">
                <%= destination.name %>,


                    <!-- <div>Country: </div> -->

                    <%= destination.country %>
            </div>

            <!-- <div>
                Description:
            </div> -->
            <div>
                <%= destination.description %>
            </div>

            <div class="detail-photo">

                <img src="<%= destination.image %>" alt="<%= destination.name %>">
            </div>

            <a href="/destinations" class="button">home</a>
            <a href="/destinations/<%= destination._id %>/edit" class="button">Edit</a>
            &nbsp;
            &nbsp;
            &nbsp;
            &nbsp;
            &nbsp;
            &nbsp;

            <div>

                <form action="/destinations/<%= destination._id %>?_method=DELETE" method="POST">
                    <button type="submit" class="button">delete</button>
                </form>
            </div>

        </section>











    </body>
    <%- include('../partials/footer') %>

</html>